<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Caesar Cipher</title>
  </head>
  <body>
    <h1>Caesar Cipher</h1>
    <p>
    <form>
      <p>Choose phrase to encrypt</p>
      <input type="text" name="phrase" value="">
      <p>Enter a numerical shift value</p>
      <input type="number" name="shift" value="">
      <p></p>
      <input type="submit" value="Encrypt">
    </form>
    <p><%= encrypted%></p>

  </body>
</html>
